h1 {
  font-family: 'courier new';
  color: red;
}

p {
  font-family: 'arial';
  color: red;
}

h3 {
  font-family: 'arial';
  color: red;
}

b {
  font-family: 'arial';
  color: red;
}

label {
  font-family: 'arial';
  color: red;
}