<h1>ORDER CONFIRMATION</h1>

<h3>NAME...</h3>
<p><%= @pizza.pretty_name %></p>

<h3>TOPPING</h3>
<p><%= @pizza.topping %></p>

<h3>QUANTITY</h3>
<p><%= @pizza.quantity %></p>

<h3>$$$</h3>
<p><%= @pizza.total() %></p>