<!DOCTYPE html>
<html>
<head>
  <title>BIG DUGZ PIZZA ESTABLISHMENT</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body background='http://www.ingredientsnetwork.com/47/pdcnewsitem/04/00/73/635936625112880078-1623667189_e9a9d35c744f3ff11a97e32274411d8b_large.jpeg'>

  <%= yield %>
</body>
</html>