<h1>ORDER A PIZZA</h1>

<form action="/pizzas" method="post">
  <label for="first_name">FIRST NAME:</label>
  <input type="text" name="first_name">
  <label for="last_name">LAST NAME:</label>
  <input type="text" name="last_name">
  <label for="topping">SELECT UR PIZZA:</label>
  <select name="topping">
    <option value="MEAT">MEAT</option>
    <option value="CHEESE">CHEESE</option>
    <option value="PLAIN">PLAIN</option>
  </select>

  <label for="quantity">QUANTITY:</label>
  <input type="number" name="quantity">

  <input type="submit" value="ORDER PIZZA">
</form>

