<!DOCTYPE html>
<html>
<head>
  <title>my first calculator app</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>CALCULATION STATION</h1>
  <a href="/">HOME</a>
  <%= yield %>
</body>
</html>


