<h1> the result is <%= @calculation %></h1>

<% if true %>
  <h5><%= "dogs" %></h5>
<% end %>

<img src="https://storage.googleapis.com/imgfave/image_cache/1318558225370484.jpg" width=115px, height=115x;>