<h2><%= @member.name %></h2>

<h3>Address: <%= @member.address %></h3>

<h4>Books rented out:</h4>
<ul>
  <% @member.books.each do |book| %>
    <li>Book: <%= book.title %> By: <%= book.author %></li>
  <% end %>
</ul>